# Books Database
A client needs a scaleable MySQL Database for their Books Business. Per their criteria, we will make a database off of the ERD I've designed.

![png](ERD.png)

Required Imports

In [1]:
# General Imports
import os

# Data Imports
import pandas as pd
import json

# MySQL Imports
import pymysql
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

Connect to SQL Database

In [2]:
# Get SQL creds from json
creds = json.load(open('creds.json'))

pymysql.install_as_MySQLdb()

# Create connection string using credentials following this format
database = "books"
connection_str = f"mysql+pymysql://{creds['username']}:{creds['password']}@localhost/{database}"
    
# Create database if it doesn't exist
if database_exists(connection_str) == False: 
    create_database(connection_str)
else: 
    print(f'Database {database} exists.')

# Create Engine
engine = create_engine(connection_str)

Database books exists.

Add CSV Data files into SQL Database

In [3]:
# View an example of the data
pd.read_csv('Data/books.csv').head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [4]:
# Convinient Loop to add all data files to DB
for file in os.listdir('./Data'):
    if file[-4:] == ".csv":
        table = pd.read_csv(f'Data/{file}')
        table.to_sql(file[:-4], engine, if_exists = 'replace')
        
# View the tables
query = "SHOW TABLES;"
pd.read_sql(query, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

List the titles of all of John Doe's favorite books

In [6]:
query2 = """
SELECT books.title, favorites.user_id
FROM books
JOIN 
    favorites 
    ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));
"""
pd.read_sql(query2, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1